@font-face {
    font-family: 'noel1';
    src: URL('font/MerryChristmasStar.ttf') format('truetype');
  }
@font-face {
font-family: 'noel2';
src: URL('font/MerryChristmasFlake.ttf') format('truetype');
}
@font-face {
    font-family: 'noel3';
    src: URL('font/ChristmasWish-monoline.otf') format('opentype');
  }


body{
    margin: 0;
}

.bodyDroite{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 200px;
    height: 100%;
}

.bodyCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bodyFond{
    background-image: url("pictures/fond3.jpg");
    background-position: left;
}
.bodyRouge{
    background-color: #ce0101;
}

#conteneur{
    height: 80%;
    display: contents;
}

h1{
    text-align: center;
    font-family:"noel1" ;
}

h2{
    font-family:"noel2" ;
    font-size: xx-large;
    color: rgb(229, 245, 243);
    letter-spacing: 3px;
    margin: 0;
    margin-top: 10px;
}
h3{
    margin: 0;
    font-family:"noel3" ;
    font-size: 30px;
    color: rgb(232, 229, 206);
}

#h1ButtonP{
    color: #ce0101;
}

a{
    text-decoration: none;
    border: solid 1px red;
    width: 50%;
    height: 30%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #fce5e5;

}

a::after{
    color: aliceblue;
}


.detail{
    /*border: solid rgb(215, 15, 15) 5px;*/
    position: absolute;
    height: 0%;
    width: 60%;
    border-radius: 50px;
    /* background-color:rgb(215, 15, 15); */
    background-image: url(pictures/fond4.jpg);
    display: none;
    font-family: "noel3";
    font-size: xx-large;
    background-size: cover;
}

.contDetail{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
}

.buttonPlus{
    z-index: 1;
}

#croix{
    margin-right: 30px;
    margin-top: 20px;
    text-align: end;
}

h4{
    font-size: 3rem;
    margin-left: 10px;
}